---
# Here are the styles defined for Instants Magiques.
---

html {
    background-color: #111;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: auto;
}

h1 {
    margin-top: 20px;
    text-indent: -1000px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 62px;

    a {
        color: #fff;
    }
}

nav {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 22px;

    a {
        color: #f7f7f7;
        &:before {
            content: ' - ';
        }
        &:first-child:before {
            content: '';
        }
    }
}

main {
    max-width: 1200px;
    margin: auto;

    position: relative;

    .facebook-block {
        width: 400px;
        background-color: transparent;
        position: absolute;
        right: 20px;
        bottom: 50px;

        h2 {
            margin: 0;
            text-transform: uppercase;
        }

        strong {
            font-size: 20px;
            color: #fff;
        }
        div {
            margin-top: 1em;
            background-color: #fff;
            padding: 12px;
            height: 80px;
        }
    }

}



footer {
    background-color: #fff;
    color: #000;
    font-size: 18px;
    margin-top: 4px;
    padding: 4px;

    div {
        max-width: 1000px;
        margin: auto;

        div {
            display: inline-block;
            width: 33%;
            vertical-align: top;
            padding: 4px;
        }

        .copyright {
            font-size: 16px;
            margin-top: 36px;

            p + p {
                margin-top: 8px;
            }

            a {
                color: inherit;

                &:hover {
                    color: blue;
                }
            }
        }

        .contact {
            h4 {
                font-weight: bold;
                font-size: 24px;
                margin: 8px 0;
            }

            p {
                font-size: 18px;
            }

            a {
                color: inherit;

                &:hover {
                    color: blue;
                }
            }
        }

        .social {
            margin-top: 36px;
            text-align: right;

            img {
                margin-left: 12px;
            }
        }
    }

}

.homepage {
    main {
        margin-top: -200px;

        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(../images/homepage-tablet.png);
        min-height: 983px;

        @media all and (max-width: 768px) {
            background-image: url(../images/homepage-tablet.png);
            min-height: 768px;
        }

        @media all and (max-width: 600px) {
            background-image: url(../images/homepage-mobile.png);
            min-height: 600px;
        }

    }
}

.legal-notice, .page-not-found {
    main {
        padding: 1em;
        background-color: #fff;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}